<p id="notice"><%= notice %></p>

<p>
  <%= @topic.title %>
</p>

<p>
    <%= @topic.content %>
</p>

<h1>Take notes</h1>

<%= form_for @notes.create do |f| %>

      <!-- <%= f.label :content %> -->
      <%= f.text_field :content %>

      <%= f.submit "Create" %>

  <% end %>

  <p>
    <strong>My notes :</strong>
    <%= @topic.notes %>
  </p>
<!-- <p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>Week:</strong>
  <%= @topic.week %>
</p> -->

<!-- <%= link_to 'Edit', edit_topic_path(@topic) %> -->
<!-- <h1>New Contact</h1>
